@import './assets/css/bootstrap.css';
/* @import './assets/css/fonts.css'; */

*:focus,
*:focus-visible,
*:focus-within {
	outline: 0 !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.btn-check:checked + .btn,
:not(.btn-check) + .btn:active,
.btn:first-child:active,
.btn.active,
.btn.show {
	border-color: transparent !important;
	background-color: var(--bs-btn-hover-bg);
}

*:-webkit-direct-focus {
	outline: 0 !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

:root {
	--bs-body-line-height: 1.15 !important;
	--bs-border-color: rgba(var(--bs-body-color-rgb), 0.25);
}

select {
	border: 0 !important;
}

span {
	white-space: pre-line;
}

.popover {
	white-space: pre-line;
}

.bi {
	display: flex;
	align-items: center;
}

input,
select,
button,
.btn {
	background-clip: border-box;
}

main {
	margin-top: var(--header-height);
}

.container-fluid-xxl {
	max-width: 1320px;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
	padding-right: var(--bs-gutter-x, var(--container-padding));
	padding-left: var(--bs-gutter-x, var(--container-padding));
}

input:not(input[type='range']) {
	background-color: var(--bs-gray-800) !important;
}

input:not(input[type='range']):hover {
	background-color: var(--bs-gray-750) !important;
}

input:not(input[type='range']):focus {
	background-color: var(--bs-gray-750) !important;
	border-color: var(--bs-gray-750) !important;
}

:root {
	--container-padding: 1.5rem;
	--zoom-ratio: 1;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html {
	min-width: 380px;
	overflow-x: hidden;
}

[data-bs-theme='light'] {
	--bs-scrollbar-bg-rgb: var(--bs-dark-rgb);
	--bs-scroll2-opacity: 0.08;
	--bs-scroll1-opacity: 0.3;
	--bs-scroll0-opacity: 0.45;
	--bs-scroll00-opacity: 0.375;
}

[data-bs-theme='dark'] {
	--bs-scrollbar-bg-rgb: var(--bs-light-rgb);
	--bs-scroll2-opacity: 0.065;
	--bs-scroll1-opacity: 0.35;
	--bs-scroll0-opacity: 0.5;
	--bs-scroll00-opacity: 0.42;
}

[data-bs-theme='light'] .scrollable:not(:hover) {
	--bs-scroll1-opacity: 0.12;
	--bs-scroll2-opacity: 0.045;
}

[data-bs-theme='dark'] .scrollable:not(:hover) {
	--bs-scroll1-opacity: 0.12;
	--bs-scroll2-opacity: 0.03;
}

.btn-dark {
	--bs-btn-hover-bg: var(--bs-gray-800);
	--bs-btn-hover-border-color: var(--bs-gray-800);
}

/** scrollbar minify **/

@media (hover: hover) and (pointer: fine) {
	::-webkit-scrollbar,
	html::-webkit-scrollbar {
		background-color: rgba(var(--bs-scrollbar-bg-rgb), var(--bs-scroll2-opacity));
		width: 10px;
		height: 10px;
	}

	::-webkit-scrollbar-thumb:hover,
	html::-webkit-scrollbar-thumb:hover {
		background-color: rgba(var(--bs-scrollbar-bg-rgb), var(--bs-scroll0-opacity));
	}

	::-webkit-scrollbar-thumb:active,
	html::-webkit-scrollbar-thumb:active {
		background-color: rgba(var(--bs-scrollbar-bg-rgb), var(--bs-scroll00-opacity));
	}

	:root,
	:root .scrollable {
		scrollbar-gutter: stable;
		scrollbar-width: thin;
		scrollbar-color: rgba(var(--bs-scrollbar-bg-rgb), var(--bs-scroll1-opacity))
			rgba(var(--bs-scrollbar-bg-rgb), var(--bs-scroll2-opacity));
	}

	.scrollable::-webkit-scrollbar,
	.scrollable::-webkit-scrollbar-track {
		border-radius: 8px !important;
	}

	/* scrollbar bg */

	::-webkit-scrollbar-track,
	html::-webkit-scrollbar-track {
		background-color: transparent;
		box-shadow: none;
		-webkit-box-shadow: none;
	}

	/* scrollbar self */
	::-webkit-scrollbar-thumb,
	html::-webkit-scrollbar-thumb {
		background-color: rgba(var(--bs-scrollbar-bg-rgb), var(--bs-scroll1-opacity));
		border-radius: 16px;
		border: 2px solid transparent;
		background-clip: padding-box;
	}

	/* scrollbar buton */

	::-webkit-scrollbar-button,
	html::-webkit-scrollbar-button {
		display: none;
	}

	/** scrollbar width fix **/

	html {
		overflow-y: scroll;
	}
}

/** scrollbar finito **/
