@import './assets/css/bootstrap.css';
/* @import './assets/css/fonts.css'; */

*:focus,
*:focus-visible,
*:focus-within {
	outline: 0 !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.btn-check:checked + .btn,
:not(.btn-check) + .btn:active,
.btn:first-child:active,
.btn.active,
.btn.show {
	border-color: transparent !important;
	background-color: var(--bs-btn-hover-bg);
}

*:-webkit-direct-focus {
	outline: 0 !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

:root {
	--bs-body-line-height: 1.15 !important;
	--bs-border-color: rgba(var(--bs-body-color-rgb), 0.25);
}

select {
	border: 0 !important;
}

span {
	white-space: pre-line;
}

.popover {
	white-space: pre-line;
}

.bi {
	display: flex;
	align-items: center;
}

input,
select,
button,
.btn {
	background-clip: border-box;
}

main {
	margin-top: var(--header-height);
}

.container-fluid-xxl {
	max-width: 1320px;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
	padding-right: var(--bs-gutter-x, var(--container-padding));
	padding-left: var(--bs-gutter-x, var(--container-padding));
}

:root {
	--container-padding: 1.5rem;
	--zoom-ratio: 1;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html {
	min-width: 380px;
	overflow-x: hidden;
}
